@model CaldwellHotels.Models.RoomStyle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RoomStyle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BedroomDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BedroomDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BathroomDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BathroomDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitchenDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitchenDescription)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator")) //Show option if user is admin
    {
        <a asp-action="Edit" asp-route-id="@Model.StyleID">Edit</a>
        <p class="d-inline">|</p>//Forces inline symbol, rather than block
    }
    <a asp-action="Index">Back to List</a>
</div>
