@model IEnumerable<CaldwellHotels.Models.Reservation>

@{
    ViewData["Title"] = "Reservation Explorer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservation Explorer</h1>
@if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persons.PersonID)
            </td>
            <td>
                @if (User.IsInRole("Administrator") || User.IsInRole("Employee")) //Show option if user is admin or employee
                {
                <a asp-action="Edit" asp-route-id="@item.ReservationID">Edit</a> 
                <p class="d-inline">|</p>   //Forces inline symbol, rather than block
                }
                <a asp-action="Details" asp-route-id="@item.ReservationID">Details</a>

                @if (User.IsInRole("Administrator") || User.IsInRole("Employee")) //Show option if user is admin or employee
                {
                    <p class="d-inline">|</p> //Forces inline symbol, rather than block 
                    <a asp-action="Delete" asp-route-id="@item.ReservationID">Delete</a>
                }
                </td>
        </tr>
}
    </tbody>
</table>
